header.header
  div.header__presentation
    img(src="./images/logo.svg", alt="Logo")
    a(href="#") Try It Free
  section.hero
    div.hero__info
      h1.hero__info-title Build The Community Your Fans Will Love
      p.hero__info-p Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.
      a(href="#").btn__cta Get Started For Free
    figure.hero__img
      img(src="./images/illustration-mockups.svg", alt="image of mockups")