main.main
  div.card
    figure.card__img
      img(src="./images/illustration-grow-together.svg", alt="illustration of two people talking")
    h2.card__title Grow Together
    p.card__p Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.
  div.card
    figure.card__img
      img(src="./images/illustration-flowing-conversation.svg", alt="illustration of people talking")
    h2.card__title Flowing Converstion
    p.card__p You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.
  div.card
    figure.card__img
      img(src="./images/illustration-your-users.svg", alt="illustration of people showing a project")
    h2.card__title Your Users
    p.card__p It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.
  div.card
    h1.card__title Ready To Build Your Community?
    p.card__p Get Started For Free