.header {
  height: 100vh;
  background-color: $color-pale-cyan;
  padding: 2.5rem 5%;
  background-image: url("../images/bg-hero-mobile.svg");

  &__presentation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;

    img {
      align-self: center;
      width: 10rem;
    }
    a {
      display: inline-block;
      background-color: $color-white;
      padding: 0.5rem 1.5rem;
      font-size: 1.2rem;
      color: $color-black;
      font-weight: 700;
      text-decoration: none;
      border-radius: 15px;
      box-shadow: rgba($color-black, 0.35) 0px 5px 15px;
    }
  }

  .hero {
    text-align: center;
    padding: 0 8%;

    &__info {
      margin-bottom: 6rem;
      &-title {
        margin-bottom: 2rem;
      }
      &-p {
        margin-bottom: 3rem;
      }
      &__cta {
        display: inline-block;
        background-color: $color-pink;
        padding: 1rem 6rem;
        font-size: 1.6rem;
        color: $color-white;
        font-weight: 400;
        text-decoration: none;
        border-radius: 15px;
      }
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }
}
