.btn__cta {
  display: inline-block;
  color: $color-cta-text;
  background-color: $color-pink;
  padding: 1.5rem 6rem;
  font-size: 1.6rem;
  color: $color-white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 25px;
}
