$color-pink: rgb(255, 82, 191);
$color-pale-cyan: hsl(192, 100%, 96%);
$color-dark-cyan: rgb(0, 37, 46);
$color-grayish-blue: rgb(128, 141, 153);

$color-white: #fff;
$color-black: #000;
$color-cta-text: #fff3ff;
